body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.lead {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url("images/me.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.lead-text {
  position: relative;
  top: 15%;
  left: 60%;
  word-wrap: break-word;
  width: 350px;
}

.lead-header {
  font-size: 50px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: 'Playfair Display', serif;
}

.sub-header {
  font-size: 24px;
  margin: 6px 0;
  font-weight: 300;
  color: #FFFFFF;
  font-family: 'Lato', serif;
}

.paragraph-text {
  margin-top: 10px;
  font-size: 18px;
}

.social-media {
  margin: 20px 0;
}

.paragraph-text a img {
  height: 28px;
  width: 28px;
  display: inline-block;
  margin-right: 10px;
}

.icons-credit {
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFFFFF;
}

@media only screen and (max-width: 775px) {
    .top-text  {
        left: 0%;
        margin: auto;
    }
}
