body {
}
/*-----NAVBAR-----*/
.primary-nav {
    text-transform: uppercase;
    font-family:'Raleway', sans-serif;
    font-weight: 100;
    font-size:13px;
    letter-spacing:1px;
    text-align: center;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    background: #fbfbfb;
    margin: auto;
    opacity: 0.8;
    z-index: 820;
    position: fixed;
}
.primary-nav li {
    display: inline-block;
}
.primary-nav a {
    padding: 0 8px;
    color: black;
    text-decoration: none;
    font-size: 12px;
}
.primary-nav a:hover {
    color: #FFE23D;
    transition-duration: 0.4s;
}
/*-----HOMEPAGE EDITING-----*/
.homepage {
    color:white;
    position: relative;
    background: #000;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
}
.homepage-container {
    text-align: center;
    position: relative;
    width: 100%;
    top: 40%;
    margin-top:1em;
    height: 20vh;
}
.row-name {
    font-family: 'Raleway';
    font-size: 65px;
}
.row-description {
    font-family: 'Raleway' sans-serif;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 100;
}
/*-------ABOUT ME-------*/
.about {
    background: url(images/me2.jpg) no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.row-aboutme {
    font-family:'Raleway';
    font-size: 65px;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-right: 80px;
    text-align: right;
}
.row-description-container {
    margin: 15% 0px 0px 3%;
    background-color: #fff;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    width: 40%;
    float: left;
}
.row-aboutdescription {
    border: 1px solid white;
    font-family: 'Raleway' sans-serif;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 3px;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
}
.row-aboutquote {
    font-family: 'Raleway';
    padding: 2%;
    font-size: 16px;
}

@media (max-width: 500px) {
   .row-description-container {
        margin: 40% auto;
        width: 100%;
   }
   .row-aboutdescription {
        font-size: 20px;
   }
}

/*-----Academics-----*/
.academics {
    width: 100vw;
    height: 100vh;
}
.row-academics {
    font-family:'Raleway';
    font-size: 65px;
    color: black;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    text-align: left;
}
.courses {
    background-color: #b4cee5
}
.courses, .skills, .leadership {
    padding: 30px 0 30px 0;
    margin: 0 1.5%;
    float: left;
    width: 30%;
    text-align: center;
    border-radius: 5px;
}
.courses ul, .skills ul, .leadership ul{
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}
.courses li, .skills li, .leadership li{
    padding: 3px;
}
.skills {
    background-color: #546986;
}
.leadership {
    background-color: #b4cee5;
}

/*-------PORTFOLIO-------*/
.portfolio {
}

html {
  overflow-y: scroll;
}

.container { 
    position: relative; 
    width: 960px; 
    margin: 0 auto; 
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;  
}
 
#filters {
    margin:1%;
    padding:0;
    list-style:none;
}
#filters li {
    float:left;
}
    
#filters li span {
    display: block;
    padding:5px 20px;       
    text-decoration:none;
    color:#666;
    cursor: pointer;
    font-family:'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
    
#filters li span.active {
    background: #546986;
    color:#fff;
}
 
#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 20%;
    margin: 2%;
    display:none;
    float:left;
    overflow:hidden;
}

.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #666;
    cursor:pointer;
}

.portfolio img {
    max-width:100%;
    position: relative;
    top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);     
}
    
.portfolio .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    font-family:'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

.portfolio .label-bg {
    background: #b4cee5;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
    
.portfolio .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
}
    
.portfolio .text-category {
    display:block;
    font-size:9px;
}

.portfolio:hover .label {
bottom:0;
}
.portfolio:hover img {
top:-30px;
}  

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px; 
    }
}
/* #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container { 
        width: 95%; 
    }
    
    #portfoliolist .portfolio {
        width:48%;
        margin:1%;
    }       
}
/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 70%;
    }
}

/*-----INTERNSHIP & LEADERSHIP-----*/
.il-container {
    width: 100vw;
    margin-top: 70px;
}
.internshipsleadership {
    font-family:'Raleway';
    font-size: 65px;
    color: #465c74;
    padding-top: 55px;
    margin: 0px auto;
    width: 90%;
}
.img-box {
    width: 700px;
    height: 320px;
    position:relative;
    background-size: cover;
    background-position: center center;
    float: left;
}

.img-box::before {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: all .3s;
}
.img-box:hover::before {
    opacity: 1;
}

.hover-overlay {
    opacity: 0;
    color: white;
    font-family: 'Raleway' sans-serif;
    font-weight: 100;
    transition: all .3s;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -70%);
}
.img-box:hover .hover-overlay {
  opacity: 1;
  transform: translate(-50%,-50%);
}
h4 {
    font-family: 'Raleway';
}
/*.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}*/
.iX-image {
    width: 100%;
    height: 100%;
}
.CA-image {
    width: 100%;
    height: 400px;
}
.VSA-image {
    width: 100%;
    height: 100%;
}
.FYLE-image {
    width: 100%;
    height: 100%;
}

/*----CONTACT & SOCIAL MEDIA BUTTONS-----*/
.footer-container {
    width: 100vw;
}
.contact {
    font-family: 'Raleway';
    font-size: 65px;
    text-align: center;
    padding-top: 55px;
    margin: 0px auto;
}

ul.social-buttons {
  text-align: center;
  margin-top: 50px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 10px;
}

ul.social-buttons li a {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
}

ul.social-buttons li a.soundcloud {
  background-image: url(images/soundcloud.png);
}
ul.social-buttons li a.instagram {
  background-image: url('images/instagram.png');
}
ul.social-buttons li a.linkedin {
  background-image: url('images/linkedin.png');
}
ul.social-buttons li a.github {
    background-image: url('images/github.png');
}
/* Animated */
ul.social-buttons li a {
  transition: transform 0.2s linear;
}
ul.social-buttons li:hover a {
  transform: translateY(-10px);
}

@media (max-width: 850px) {
    .media-body {
        font-size: 18px;
    }
    .media {
        position: block;
        margin: 0 auto;
        width: 80%;
    }
}
@media (max-width: 664px) {
    .media-body {
        font-size: 16px;
    }
}
@media (max-width: 557px) {
    .educationskills {
        font-size: 50px;
    }
    .contact {
        font-size: 40px;
    }
}
@media (max-width: 444px) {
    .educationskills {
        font-size: 40px;
    }
}
/*-----Return to Top Arrow------*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    color: black;


